<nav>

<!-- 사용자가 특정 서버에 들어가있고, 채널이 있는 경우 -->
{% if survers %}

<div>
    {{ this_surver.name }}
    <div>
        {% if is_owner %}
        <a href="{% url 'surver:add_member' this_surver.pk %}">
            <button>서버 (강제)초대</button>
        </a>
        {% endif %}
    </div>
</div>

<div>
    <ul>
        {% for category in this_surver.categories.all %}
        <a href="{% url 'surver:detail' this_surver.pk 0 %}">
            <li>{{ category.name }}</li>
        </a>
        <ul>
            {% for channel in category.channels.all %}
            <a href="{% url 'surver:detail' this_surver.pk channel.pk %}">
                <li>{{ channel.name }}</li>
            </a>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
</div>

{% endif %}

<div>
    <div>
        <a href="{% url 'surver:create_category' this_surver.pk %}">
            <button>카테고리 추가</button>
        </a>
    </div>
    
    <div>
        <a href="{% url 'surver:create_channel' this_surver.pk %}">
            <button>채널 추가</button>
        </a>
    </div>
</div>

</nav>